@import url(https://fonts.googleapis.com/css?family=Poppins);

body{
    font-family: Poppins;

}



input{
    font-family: Poppins;
    background-color:white;
    color:black;
}


.title, .entry, .locale{
    margin-left:50px;
    
}

.week{
    display:flex;
    flex-flow:row;
    margin-left:50px;
}
.today{
    margin:50px;
}
.day{
    margin-bottom: 10px;
    margin-right:30px;
}